body{
    display: flex;
    flex-direction: row;
    font-family: Arial;
}
table{
    border: 1px solid #666;
    margin-top: 7rem;
}
th,td{
    padding-top: 1rem;
    border-bottom: 1px solid #666;
}

.image1, .image2,.image3{
    margin-right: 1rem;
    padding-top: 2em;
}
#left{
    padding-top: 2em;
    border-right: 1px solid #666;
}
#middle{
    padding: 1em;
}
#Ul_element {
    border: 1px solid #666;
    display: table;
    overflow:hidden;
    height:2%;
    padding-right: 1em;
    padding-bottom: 4em;
    padding-top: 2em;
}
a:link { 
    text-decoration: none; 
}
.ref {
    margin-top:1em ;
}
h3{
    text-align: center;
}
p {
    font-size: 1em;
    line-height: 1.4em;
}
ul{
    list-style-type:none
}